@import "tailwindcss";

.google-sans-regular > {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

*::-webkit-scrollbar {
  height: 0;
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    #16a34a,
    /* green-600 */ #10b981 /* emerald-500 */
  );
  border-radius: 4rem;
}
